@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

html{
    background-color: black;
    font-family: 'Courier Prime', monospace;
    margin: 0;
    overflow-x: hidden;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    color: white;
}

canvas{
    position: fixed;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.logo-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#figura{
    width: 200px;
}

.text-container{
    display: flex;
    margin-top: 40px;
    text-align: center;
    width: 70%;
    flex-direction: column;
    background-color: black;
}

.faces-container{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin-top: 40px;
}

.faces-container img{
    width: 10vw;
}

.music-container{
    margin-top: 40px;
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.music-container img{
    margin-bottom: 50px;
    width: 30vw;
}

iframe{
    margin-top: 20px;
}

.images-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images-container img{
    width: 45vw;
    margin-top: 20px;
}

h1{
    font-size: 40px;
    margin-top: 100px;
}

footer{
    background-color: black;
    color: beige;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

footer a{
    color: beige;
}

.links{
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .text-container{
        width: 90%;
    }

    .images-container img{
        width: 80vw;
    }   
}